body{
  background-color: rgba(242, 242, 242, 0.873);
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}



.navbar{
  background-color: #e2e2e2;
  display:flex;
  justify-content: space-between;
  list-style: none;
  margin:2px;
  font-size: 1.2rem;
  font-style:bold;
}

.list-inline{
  display:flex;
  justify-content: space-evenly;
  text-decoration: none;
  align-items: center;
  list-style: none;
}

.tab-underlined{
  padding:20px;
  padding-top:10px;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  color: inherit;
}

.tab-underlined:hover {
  text-decoration: underline; /* underline on hover */
}

.logo{
  width:60px;
  border-radius:50%;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align:center;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


.intro{
  display: flex;
  width:90%;
  margin: auto;
  justify-content: space-between;
}

.information{
  width: 60%;
}

.information h2{
  text-align:center;
}

.table-of-contents{
  width: 40%;
  height: 90%;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-items:center;
  align-items:center;
}

.table-of-contents a{
  color: inherit;
  text-decoration: none;
  margin: 0px;
}

.table-of-contents a:hover {
  text-decoration: underline;
  font-weight:bold;
}

.table-of-contents ul {
  list-style:none;
  margin:0;

}

.information{
  margin-top: 24px;
}

.information-last-line {
  text-align:center;
}


.footer {
  align-items: end;
  background-color: #e2e2e2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 50px;
  color: black;
  flex-shrink: 1; /* Ensures footer stays at the bottom */
}

.footer-links {
  display: flex;
  align-items: center;
  color:black;
}
.footer-links a {
  color: black;
  opacity: 0.60;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
